<!DOCTYPE html>

<html class="no-margin">
  <head>
    <title>C-squared</title>
    <link rel='stylesheet' href='../css/libraries/fullcalendar.css'>
    <link rel="stylesheet" href="../css/chat-page.css">
    <script src="../controls/libraries/jquery-3.2.1.min.js"></script>
    <script src="../controls/libraries/moment.min.js"></script>
    <script src="../controls/libraries/fullcalendar.js"></script>
    <script src="../controls/event.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.11.1.js"></script> -->
    <script src="../controls/socket.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script> -->
    <script src="../controls/libraries/jquery.lettering.js"></script>
    <script src="../controls/libraries/modernizr-1.7.min.js"></script>
    <script src="../controls/libraries/color.js"></script>
    <script src="../controls/libraries/textshadow.js"></script>
  </head>
  <body class="no-margin">
    <div id="guard-wrapper" style="display:none">
      <div id="guard-content">
      </div>
      <div id="login-content" style="">
        <form id="login-form" action="">
        <div class="container">
          <label><font color="#858585"><b>Username</b></font></label>
          <input id="username-in" class="vrf-input" type="text" placeholder="Enter Username" name="uname" required>

          <label><font color="#858585"><b>Password</b></font></label>
          <input id="password-in" class="vrf-input" type="password" placeholder="Enter Password" name="psw" required>

          <button id="register-btn" class="vrf-btn" type="submit">Register</button>
          <button id="login-btn" class="vrf-btn" type="submit">Login</button>
          <input id="rmb-btn" type="checkbox" checked="checked"><font color="#858585">Remember me</font></input>
        </div>
        </form>
      </div>
      </div>
    <div class="header no-margin">
      <div style="text-align: center;">
        <a href="">
          <img src="../resources/logo.png" alt="C-squared" style="margin-top: 7px;">
        </a>
      </div>

      <div class="dropdown">
        <div id="profile-btn">
          <img id="profile-icon" src="../resources/profile-icon-grey.png" alt="Profile">
        </div>
        <div class="dropdown-content">
              <h2 style="text-align: center;"><font color="#858585"><b>Welcome</b></font></h2>
              <ul id="username"></ul>
              <div id="logout" class="logout" style="text-align: center;"><font color="#858585"><b>Log Out</b></font></div>
        </div>
      </div>
    </div>
    <div class="menu-bar">
      <div id="chat-btn" class="menu-button menu-button-open" style="text-align: center;">
        <img id="chat-icon" src="../resources/chat-icon-blue.png" alt="Chat" style="margin-top: 10px;">
      </div>
      <div id="calendar-btn" class="menu-button" style="text-align: center;">
        <img id="calendar-icon" src="../resources/calendar-icon-grey.png" alt="Calendar" style="margin-top: 10px;">
      </div>
    </div>
    <div class="chat-content">
      <div id="msg-content">
        <ul id="messages"></ul>
      </div>
      <form id="msg-input" action="">
        <input id="m" autocomplete="off" />
        <button id="send-msg-btn">Send</button>
      </form>
    </div>
    <div class="calendar-content" style="display: none;">
      <div class="calendar-holder">
      </div>
    </div>
  </body>
</html>
