<!DOCTYPE html>

<html class="no-margin">
  <head>
    <title>C-squared</title>
    <script src="../controls/libraries/jquery-3.2.1.min.js"></script>
    <script src="../controls/event.js"></script>
    <link rel="stylesheet" href="../css/chat-page.css">
  </head>
  
  <body class="no-margin">
    <div class="header no-margin">
      <div style="text-align: center;">
        <a href="">
          <img src="../resources/logo.png" alt="C-squared" style="margin-top: 7px;">
        </a>
      </div>
    </div>
    <div class="menu-bar">
      <div id="chat-button" class="menu-button menu-button-open" style="text-align: center;">
        <img id="chat-icon" src="../resources/chat-icon-blue.png" alt="C-squared" style="margin-top: 10px;">
      </div>
      <div id="calendar-button" class="menu-button" style="text-align: center;">
        <img id="calendar-icon" src="../resources/calendar-icon-grey.png" alt="C-squared" style="margin-top: 10px;">
      </div>
    </div>
    <div class="chat-content">
    </div>
  </body>
</html>