.no-margin {
    margin: 0;
    padding: 0;
    height: 100%
}

.header {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #71b0b0;
    position: fixed;
    top: 0;
    z-index: 1500;
}

#profile-btn {
    position: fixed;
    top: 10px; right: 60px;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    top: 50px; right: 50px;
    background: #858585;
}

.dropdown-content {
    display: block;
    position: fixed;
    top: 50px; right: 0px;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 10px 20px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid #bedada;
}

#logout-btn {
    background-color: #eff6f6;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: #ffffff;
}

#guard-content {
    height: 100%;
    width: 100%;
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    display:block;
    opacity: 0.5;
    filter: alpha(opacity = 0);
    background: #858585;
    z-index: 2000;
}

#login-content {
    max-height: 500px;
    max-width: 300px;
    z-index: 2500;
}

#login-form {
    border: 3px solid #71b0b0;
    max-height: 286px;
    max-width: 300px;
    position: fixed;
    top: calc(100%/2 - 143px); left: calc(100%/2 - 150px);
    background-color: #ffffff;
    z-index: 2000;
}



.vrf-input {
    color: #858585;
    font-size: 100%;
}

/* Set a style for all buttons */
.vrf-btn {
    width: 100px;
    background-color: #71b0b0;
    color: #ffffff;
    margin: 15px 0;
    border: none;
    cursor: pointer;
}

/* Add a hover effect for buttons */
.vrf-btn:hover {
    opacity: 0.8;
}

#login-btn {
    margin-left: 52px;
}

#rmb-btn {
    width: 20px;
    margin-top: 15px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 8px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.menu-bar {
    float: left !important;
    height: calc(100% - 50px);
    width: 80px;
    position: fixed;
    top: 50px; left: 0;
    background-color: #e2efef;
    border-right: 2px solid #71b0b0;
    z-index: 1000;
}

.menu-button {
    background-color: transparent;
    height: 75px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.menu-button-open {
    background-color: #ffffff;
}

.chat-content {
    background-color: #ffffff;
    min-height: calc(100% - 100px);
    width: calc(100% - 82px);
    position: absolute;
    top: 50px; left: 82px;
    z-index: 500;
}

#msg-content {
    margin-bottom: 50px;
}

#msg-input {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-right: 82px;
    background-color: #71b0b0;
    margin-bottom: 2px;
    border-right: 2px solid #ffffff;
    z-index: 750;
}

#m {
    font-size: 15px; font-family: "Comic Sans MS", cursive, sans-serif; margin-top: 0;
}

#msg {
    margin-right: 2px;
}

#send-msg-btn {
    background-color: #eff6f6;
    color: #0abab5;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px; font-family: "Comic Sans MS", cursive, sans-serif; margin-top: 0;
}

#send-msg-btn:hover {
    background-color: #ffffff;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }

.calendar-content {
    background-color: #ffffff;
    min-height: calc(100% - 50px);
    width: calc(100% - 82px);
    position: absolute;
    top: 50px; left: 82px;
    z-index: 900;
    background-color: transparent;
}

.calendar-holder {
    margin:20px 15px;
}
      #messages { list-style-type: none; margin: 0; padding: 0; font-size:15px; font-family: "Comic Sans MS", cursive, sans-serif; margin-top: 0; display: block; }
      #messages span { padding: 5px 10px; display:block; }
      #messages span:nth-child(odd) { background: #eee; display:block; }

      @-webkit-keyframes blackblur {
      from { text-shadow: 0 0 72px black; color: transparent; }
      to   { text-shadow: 0;              color: black;       }
      }
    #messages span:nth-of-type(1)  { -webkit-animation: blackblur 2s       1 alternate; }
    #messages span:nth-of-type(2)  { -webkit-animation: blackblur 2s 0.1s  1 alternate; }
    #messages span:nth-of-type(3)  { -webkit-animation: blackblur 2s 0.15s 1 alternate; }
    #messages span:nth-of-type(4)  { -webkit-animation: blackblur 2s 0.2s  1 alternate; }
    #messages span:nth-of-type(5)  { -webkit-animation: blackblur 2s 0.25s 1 alternate; }
    #messages span:nth-of-type(6)  { -webkit-animation: blackblur 2s 0.3s  1 alternate; }
    #messages span:nth-of-type(7)  { -webkit-animation: blackblur 2s 0.35s 1 alternate; }
    #messages span:nth-of-type(8)  { -webkit-animation: blackblur 2s 0.4s  1 alternate; }
    #messages span:nth-of-type(9)  { -webkit-animation: blackblur 2s 0.45s 1 alternate; }
    #messages span:nth-of-type(10) { -webkit-animation: blackblur 2s 0.5s  1 alternate; }
    #messages span:nth-of-type(11) { -webkit-animation: blackblur 2s 0.55s 1 alternate; }
    #messages span:nth-of-type(12) { -webkit-animation: blackblur 2s 0.6s  1 alternate; }
    #messages span:nth-of-type(13)  { -webkit-animation: blackblur 2s       1 alternate; }
    #messages span:nth-of-type(14)  { -webkit-animation: blackblur 2s 0.2s  1 alternate; }
    #messages span:nth-of-type(15)  { -webkit-animation: blackblur 2s 0.25s 1 alternate; }
    #messages span:nth-of-type(16)  { -webkit-animation: blackblur 2s 0.3s  1 alternate; }
    #messages span:nth-of-type(17)  { -webkit-animation: blackblur 2s 0.35s 1 alternate; }
    #messages span:nth-of-type(18)  { -webkit-animation: blackblur 2s 0.4s  1 alternate; }
    #messages span:nth-of-type(19)  { -webkit-animation: blackblur 2s 0.45s 1 alternate; }
    #messages span:nth-of-type(20) { -webkit-animation: blackblur 2s 0.5s  1 alternate; }
    #messages span:nth-of-type(21) { -webkit-animation: blackblur 2s 0.55s 1 alternate; }
    #messages span:nth-of-type(22) { -webkit-animation: blackblur 2s 0.6s  1 alternate; }