.no-margin {
    margin: 0;
    padding: 0;
    height: 100%
}

.header {
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #71b0b0;
    z-index: 1000;
}

.menu-bar {
    float: left !important;
    height: 100%;
    width: 80px;
    background-color: #e2efef;
    border-right: 2px solid #71b0b0;
    z-index: 500;
}

.menu-button-open {
    background-color: #ffffff;
}

.menu-button {
    height: 75px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.chat-content {
    height: 100%;
    margin-left: 82px;
    z-index: 500
}

#msg-content {
    height: 100%;
    padding-bottom: 50px;
    margin-bottom: 
}

#msg-input {
    width: 100%;
    padding-right: 82px;
    background-color: #71b0b0;
    margin-bottom: 2px;
    border-right: 2px solid #ffffff;
    z-index: 750;
}

#msg {
    margin-right: 2px;
}

#send-msg-button {
    background-color: #e2efef;
    color: #0abab5;
    font-weight: bold;
    cursor: pointer;
}